@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';
@media screen and (max-width: 800px) {
    h1 {
        font-size: 6vw;
    }
}

body {
	font-family: arial;
	font-size: 1.3em;'
	margin: 100px 100px 100px 100px;
}
.bold{
	font-weight: bold;
}

#bold{
	font-weight: bold;
}


#blackbackground{
	background-color: black;
	border-style: dotted;
	color: white;
}

#whitebackground{
	background-color: white;
	border: 2px;
	border-style: dotted;
	margin:10px 10px;
}

#myorder{
	background-color: black;
	border: 2px;
	border-style: dotted;
	margin:10px 10px;
	color: white;
}

button:hover{
	opacity: 50;
	background-color: green;
	cursor: cell;
}

table, th, td{
	width: 5%;
}

.container{
	position: relative;
	text-align: center;
	margin:10px 10px;
}

.centered{
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
	overflow: hidden;
}

.opacity50{
	opacity: 0.5;
	width: 100%;
}

.margin{
	margin:10px 10px;
}

.grid-container{
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 10px;
	background-color: red;
	border-style: dotted;
	color: white;
	border: 20px;
}

.grid-item{
	padding: 20px;
	font-size: 30px;
	text-align: center;
}

#menu{
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 10px;
	background-color: black;
	border-style: dotted;
	color: white;
	border: 20px;
}

.centeredblack{
	background-color: black;
	color: white;
}